body {
	font-family: Arial;
	background: #add8e6;
}

.navbar {
	background-color: black;
	font-size: 15px;
	padding-top: 20px
	margin: auto;
	padding-top: 40px;
	margin-bottom: 10px;
}

#site-name {
	font-size: 30px;
	padding-right: 50px;
	font-weight: bold;
	padding-top: 0px;
	margin-top: -20px;

}

.nav
{
	float:left;
	margin-left: -100px;

}

.profile-pic
{	float: right;
	margin-bottom: 20px;
	margin-right:20px;
}

.dropdown-menu
{
	margin-left: -120px;
}

.page-wrapper{
	margin-top: 100px;
}

/* page specific css */

/* EECS_330_AppPage */

.app_info_wrapper {
	float: left;
	width: 350px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.app_photo img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.app_name {
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
	color: red;
}

.app_stats {
	font-size: 20px;
	margin-bottom: 10px;
	color: black;
}

.unsubscribe {
	color: blue;
	font-size: 25px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 200px;
}

.graph_wrapper {
	float: right;
	margin-top: 100px;
	margin-right: 200px;
	margin-left: 20px;
	margin-bottom: 20px;

}

#graph{
	width: 500px;
	height: 500px;
}

.graph_button_wrapper{

}

#graph_yearly_button{

}

#graphy_monthly_button{

}

#graphy_weekly_button{

}

/* EECS_330_My_Profile_Page */

.header{
	font-size: 30px;
	float: left;
	font-weight: bold;
}

.profile_page_picture{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
	height: 100px;
}

.profile_info_wrapper{
	float: left;
	width: 350px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.profile_name{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.profile_favorite_subscription{
	font-size: 20px;
	margin-bottom: 10px;
}

#edit_picture_button{

}

#edit_profile_button{

}

.tab_wrapper{
	width: ;
	margin-top: ;
	margin-bottom: ;
}

.subscription_tab{
	float: left;
	margin-left: ;
}

.friends_tab{
	float: left;
}

.subheader_wrapper{
	margin-top: ;
	margin-bottom: ;
}

.subscription_tab_photo{
	width: ;
	height: ;
}

.friends_tab_photo{
	width: ;
	height: ;
}

.subscription_tab_info{
	font-size: ;

}

.friends_tab_name{
	font-size: ;

}

#shared_with_info{

}