
.material-icons.md-180{
	font-size: 180px;
}

#main_page
{
    
    display: flex; 
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
}
.friend-box {
	background-color: white;
	text-align: center;
	border: 4px solid grey;
	margin-top: 50px;
	margin-left: 60px;
	padding: 0%;
    margin-right: 60px;
    width:280px;
}

.top-text {
	font-size: 25px;
	font-weight:bold;
	color: black;
}

.top-add-text {
	font-size: 25px;
	font-weight:bolder;
	color: grey;
}

.text-box {
	font-size: 18px;
	color: black;
}

.leftMost
{
    
    margin-left:35px;
}

#myBtnContainer .btn {
    border: 0.5px solid grey;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }

  /* Add a light grey background on mouse-over */
  #myBtnContainer .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  #myBtnContainer .btn.active {
    background-color:#425458;
    color: white;
  }

.tab active a{
    background-color: white;
    color:#555;
}

.show {
    display: block;
}
.filterDiv {
    display:none;
}
.friend-box img{
	width: 140px;
	height: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 50%;
}
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
