
body {
	background-color: #d9dfeb;
	font-family: Arial;
}


.navbar {
	height: 107px;
	background-color: #191919;
	font-size: 15px;
	padding-top: 20px;
	margin: auto;
	padding-top: 40px;
}

#site-name {
	font-size: 30px;
	padding-right: 50px;
	font-weight: bold;
	padding-top: 0px;
	margin-top: -20px;
	color: #6DBDD6;
	padding-right: 700px;
}

.nav
{
	float:left;
	margin-top:-20px;
}


#tabs_font
{
	color: white;
}

.nav .tab {
	margin-top: 15px;

}

.profile-pic
{	float: right;
	margin-top: -15px;
	margin-right: 15px;
}

#dropdown_button {
	color: white;
	margin-right: 20px;
}

#dropdown_person{
	color: white;
	width: 40px;
	height: 40px;
}

.dropdown-menu {
	margin-left: -80px;
}


#main_page
{
    display:flex;
    justify-content:space-around
}
#new_users
{
    margin-top:50px
}
input{
    margin-bottom:10px;
}
#main
{
	border: 4px solid grey;
	margin-top:50px;
	margin-left:402.01px;
	margin-right:350px;
}
#main ul{
	margin-left:-40px;
	list-style-type: none;
	margin-right:-10px;
}
#main ul li{
	background-color:#191919;
	
	float: left;
	width:260px;
	border-right: 1.5px solid grey;
}
#main ul li h4{
	color:#6DBDD6;
	margin-left:60px;
}
a:link{
	text-decoration: none;
}
